.posts-section {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #202020;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.posts-section__wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts-section__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #D2D2D2;
}

.posts-section__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #107EFF;
}

.posts-section__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}