.project-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.project-section__title {
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #D2D2D2;
}

.project-section__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-section__item {
    padding: 20px;
    display: flex;
    align-items: center;
    background: #181818;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.project-section__item + .project-section__item {
    margin-top: 45px;
}

.project-section__img {
    border-radius: 8px;
}

.project-section__wrapper {
    margin-left: 18px;
}

.project-section__heading {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #D2D2D2;
}

.project-section__info {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.project-section__year {
    margin: 0;
    padding: 5px 10px;
    font-weight: 900;
    font-size: 13px;
    color: #202020;
    background-color: #D2D2D2;
    border-radius: 16px;
}

.project-section__cat {
    margin: 0;
    margin-left: 26px;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #D2D2D2;
}

.project-section__desc {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D2D2D2;
}