.works-section {
    background-color: #202020;
    padding-top: 15px;
    padding-bottom: 80px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.works-section__title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #D2D2D2;
}